<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eric.collect.card.dao.ReceiveLogMapper">
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            receive_log
        WHERE
            user_id = #{userId}
        AND to_days(create_time) = to_days(now());
    </select>
</mapper>