<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.user.dao.UserMasterMapper">
    <select id="findPasswordByLoginName" resultType="com.eric.user.bean.UserMaster">
        SELECT
            login_name,
            user_id,
            `password`,
            user_stats
        FROM
            user_master
        WHERE
            login_name = #{loginName}
    </select>
    <select id="findUserIdByLoginName" resultType="java.lang.String">
        SELECT
            user_id
        FROM
            user_master
        WHERE
            login_name = #{loginName}
    </select>
    <select id="findUserStatsByUserId" resultType="java.lang.String">
        SELECT
            user_stats
        FROM
            user_master
        WHERE
            user_id = #{userId} FOR UPDATE
    </select>
    <select id="findUserStatsByLoginName" resultType="java.lang.String">
        SELECT
            user_stats
        FROM
            user_master
        WHERE
            login_name = #{loginName}
    </select>
</mapper>