<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eric.user.dao.UserInfoMapper">
    <update id="updateUserBalance">
        update user_info set user_balance = user_balance + #{balance} where user_info_id = #{userInfoId}
    </update>
    <update id="updateUserPoint">
        update user_info set user_point = user_point + #{point}
        <if test="userLevel != null and userLevel != ''">
            , user_level = #{userLevel}
        </if>
        where user_info_id = #{userInfoId}
    </update>
    <select id="findUserBalanceByUserInfoId" resultType="java.lang.Integer">
        select user_balance from user_info where user_info_id=#{userInfoId} for update
    </select>
    <select id="findUserInfoIdByUserId" resultType="java.lang.String">
        SELECT
            user_info_id
        FROM
            user_info
        WHERE
            user_id = #{userId}
    </select>
    <select id="findUserPointByUserInfoId" resultType="java.lang.Integer">
        select user_point from user_info where user_info_id=#{userInfoId} for update
    </select>
    <select id="findUserLevelIdByUserId" resultType="java.lang.String">
        SELECT
            user_level
        FROM
            user_info
        WHERE
            user_id = #{userId}
    </select>
</mapper>