<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eric.order.dao.OrderMasterMapper">
    <select id="findOrderStatusByOrderId" resultType="java.lang.String">
        SELECT
            order_status
        FROM
            order_master
        WHERE
            order_id = #{orderId} FOR UPDATE
    </select>
    <select id="findPaymentMoneyByOrderId" resultType="java.lang.Integer">
        SELECT
            payment_money
        FROM
            order_master
        WHERE
            order_id = #{orderId} FOR UPDATE
    </select>
    <select id="findOrderMasterByOrderId" resultType="com.eric.order.bean.OrderMaster">
        SELECT
            payment_money, order_status
        FROM
            order_master
        WHERE
            order_id = #{orderId} FOR UPDATE
    </select>
</mapper>